/* Min Width 1200px and Max Width 1399px */

@media (min-width: 1200px) and (max-width: 1399px) {
  .hero-shape2 {
    right: 20px;
  }

  .hero-content h2 {
    font-size: 60px;
    line-height: 120%;
  }

  @keyframes move {
    0% {
      transform: translate(0);
    }

    100% {
      transform: translate(350px);
    }
  }
}

/* Min Width 992px and Max Width 1199px */

@media (min-width: 992px) and (max-width: 1199px) {
  .hero-shape2 {
    right: 20px;
  }

  .hero-content h2 {
    font-size: 46px;
    line-height: 120%;
  }

  .hero-content h4 {
    font-size: 20px;
  }

  .delivered h2 span {
    font-size: 30px;
  }

  .delivered h5 {
    font-size: 18px;
  }

  .explore-content h2 {
    font-size: 40px;
  }

  @keyframes move {
    0% {
      transform: translate(0);
    }

    100% {
      transform: translate(250px);
    }
  }
}

/* Min Width 768px and Max Width 991px */

@media (min-width: 768px) and (max-width: 991px) {
  .hero-shape2 {
    right: 20px;
  }

  .hero-content h2 {
    font-size: 40px;
    line-height: 120%;
  }

  .hero-content h4 {
    font-size: 20px;
  }

  .hero-img {
    margin-top: 100px;
  }

  .delivered h2 span {
    font-size: 30px;
  }

  .delivered h5 {
    font-size: 18px;
  }

  .explore-content h2 {
    font-size: 36px;
  }

  .explore-img {
    padding-top: 100px;
  }

  @keyframes move {
    0% {
      transform: translate(0);
    }

    100% {
      transform: translate(450px);
    }
  }
}

/* Min Width 300px and Max Width 767px */

@media (min-width: 300px) and (max-width: 767px) {
  .hero-shape2 {
    right: 20px;
  }

  .hero-wrapper {
    padding: 80px 0 60px;
  }

  .hero-content h2,
  .explore-content h2 {
    font-size: 30px;
    line-height: 120%;
  }

  .hero-content h4 {
    font-size: 20px;
  }

  .hero-img {
    margin-top: 180px;
  }

  .hero-left-img {
    top: -10px;
    left: -20px;
  }

  .hero-left-img img {
    width: 50%;
  }

  .hero-shape1,
  .hero-shape2 {
    display: none;
  }

  .delivered {
    padding: 16px;
  }

  .delivered h2 span {
    font-size: 25px;
  }

  .delivered h5,
  .search-btn button,
  .explore-content p,
  .explore-btn a {
    font-size: 16px;
  }

  .search-input input {
    width: 100%;
  }

  .search-btn button {
    top: 80px;
    left: 0px;
  }

  .explore-img {
    padding-top: 100px;
  }

  .delivery-man img {
    max-width: 50%;
  }

  @keyframes move {
    0% {
      transform: translate(0);
    }

    100% {
      transform: translate(200px);
    }
  }
}
